body {
  font: 21px "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  margin: 50px;
}
h1 {
  display: inline-block;
  background: url("/img/magicbakery-logo.gif") no-repeat center center;
  background-size: cover;
  width: 400px;
  height: 400px;
  overflow: hidden;
  text-indent: -99em;
}
h2 {
  font-size: 34px;
  font-weight: normal;
}
h3 {
  font-size: 22px;
  font-weight: normal;
}
.product {
  vertical-align: top;
  display: inline-block;
  width: 200px;
}
.total {
  font-size: 34px;
}
.quantity {
  display: inline-flex;
  font-size: 24px;
  line-height: 36px;
}
.quantity > button {
  cursor: pointer;
  font-size: 24px;
  width: 36px;
  color: white;
  background-color: rgb(33, 117, 196);
}
.quantity > span {
  width: 36px;
}
#paypal-buttons {
  margin-top: 24px;
  display: inline-block;
  width: 340px;
}
