body {
    font: 21px 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: 50px;
}
h1 {
    display: inline-block;
    background: url('/images/magicbakery-logo.gif') no-repeat center center;
    background-size: cover;
    width: 400px;
    height: 400px;
    overflow: hidden;
    text-indent: -99em;
}
h2 {
    font-size: 34px;
    font-weight: normal;
}
h3 {
    font-size: 22px;
    font-weight: normal;
}